.headerContainer {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mainContainer {
  background-color: #eee;
}

.textBackgroundColor {
  background-color: rgba(72, 174, 72, 0.744);
 }